<h1>oeco architectes</h1>
<ol>
  <% @news.each do |news| %>
    <li>
      <h2><%= news.title %></h1>
      <p><%= news.summary %>
      <p>
        <%= image_tag news.img_url(1024, 768), alt: news.title %>
      </p>
    </li>
  <% end %>
</ol>
