<h1>oeco architectes</h1>

<nav>
  <ul>
    <li><a href="<%= projects_path %>">Projects</a></li>
  </ul>
</nav>

<ol>
  <% @news.each do |news| %>
    <li>
      <h2><%= news.title %></h1>
      <p><%= news.summary %>
      <p>
        <%= image_tag news.img_url, alt: news.title %>
      </p>
    </li>
  <% end %>
</ol>
