.page {
  padding: 0 1rem;

  &__section {
    margin-right: auto;
    margin-left: auto;
    max-width: 64rem;
    transition: max-width 100ms linear;

    .page[data-controller="home"] & {
      max-width: 48rem;
    }

    &--body {
      transition: opacity 750ms ease-out;
      .page.js.loading & {
        opacity: 0;
      }
    }
  }
}
